<h1>Find Your Dream Job!</h1>


<form action="/" method="post">
  <input type="text" name="query" placeholder="Job title or keywords">
  <input type="text" name="location" placeholder="Location">
  <input type="text" name="duration" placeholder="Posted within ? days">
  <input type="submit" value="Find">
</form>

<!--
  <form>
  
    <div class="col-sm-10">
      <input type="text" name="qurey" placeholder="Job title or keywords">
    </div>
  
  
    <div class="col-sm-10">
      <input type="text" name="location" placeholder="Location">
    </div>
  
  
    <div class="col-sm-10">
      <input type="text" name="duration" placeholder="Posted within ? days">
    </div>
  
  
    <div class="col-sm-offset-4 col-sm-4">
      <input type="submit" value="Find">
    </div>

  </form>
-->

